@import "fonts";
@import "mixins";

body {
    margin: 0;
    padding: 0;
    font-family: 'Avalon', sans-serif;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
        h1 {
            margin: 0;
            display: contents;
            a img {
                width: 85%;
            }
        }
}

.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.button_cart {
    display: flex;
    justify-content: end;
    align-items: center;
}

.null_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.video-container {
    max-width: 100%;
    margin: 0 auto;
        video{
            width: 100%; 
            height: auto;
        }
}

.carousel-item {
    height: rem;
}

.card {
    width: 19rem;
    text-align: center;
    font-family: "instrument";
}

.oculta {
    display: none;
}

